body {
  background-color: #ffffff;
} 

.custom-select {
  background-color: rgba(255, 255, 255, 0.5);
}

select {
  width: 176px;
  border-style: solid;
  border-radius: 5px;
  border: 2px solid black;
}

#form{
    position: relative;
}

#submit {
  height:500px;
    width:500px;
}

.container {
  position: static;
  
}

.container1 {
  position: static;
  background-color: rgba(255, 255, 255, 0.3);
  width: 900px;
  margin: 0 auto;
  border-style: solid;
  border-radius: 5px;
  border: 2px solid #c0cef5;
}

.three h1 {
  font-family: 'Merriweather', serif;
  position: absolute; top: 3px; left: 500px;
  color: white;
  font-size: 2.5em;
}

.result {
  font-size: 30px;
}

.table {
  background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: rgba(255, 255, 255, 0.3);;
	border: 1px solid black;
}
.table td {
	border: 1px solid black;
	padding: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  background: #fff;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 1100px;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}